*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	background: url(../images/backgr.jpg) no-repeat center center;
	background-size: cover;
}
.top-second-menu {
	margin-top: 15px;
	/*height: 85px;*/
}
.border-line {
	/*height: 80px;*/
	border-bottom: 3px solid #009ce0;
}
header {
	background-color: #071726;
}
header button.close {
	background: linear-gradient(135deg, rgba(255,0,58,1) 1%,rgba(255,0,0,1) 100%);
	font-size: 40px;
	opacity: 1;
	height: 65px;
	width: 65px;
}
header .sing-up {
	background: linear-gradient(135deg, rgba(255,0,58,1) 1%,rgba(255,0,0,1) 100%);
	border-radius: 20px;
	box-shadow: 0 0 50px rgba(255, 255, 255, .5);
}
header .sing-up__text {
	border-radius: 20px;
	box-shadow: 0 0 30px 20px rgba(255, 255, 255, .2), inset 0 0 80px 30px rgba(255, 255, 255, .2);
}
header .create-box, .box-categories .nav-link {
	color: #fff;
    position:relative;
}
header .create-box:hover, .box-categories .nav-link:hover {
	color: #de0336!important;
}
header .create-box:after, .box-categories .nav-link:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform:translateX(-50%);
    margin-top: 15px;
}

header .create-box:hover:after,
header .create-box:focus:after,
.box-categories .nav-link:hover:after,
.box-categories .nav-link:focus:after {
    width: 100%;
}

.live-wins {
	text-align: center;
}

header .navbar .nav-link {
	color: #fff!important;
	padding-top: 15px;
	padding-bottom: 0;
}
header .navbar .nav-link:hover, .second-menu .nav-link:hover {
	color: #de0336!important;
}
header .navbar .nav-link:after, .second-menu .nav-link:after {
	display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #de0336;
    transition: width .3s ease-in-out;
    margin-top: 10px;
}

header .navbar .nav-link:hover:after,
header .navbar .nav-link:focus:after, 
.second-menu .nav-link:hover:after, 
.second-menu .nav-link:focus:after {
    width: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	z-index: 100;
}

.menu {
	width: 45%;
	margin-left: -100px;
}

.menu ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}
.menu li {
	height: 87px;
	padding-top: 35px;
	text-transform: uppercase;
}

.menu li:hover {
	border-bottom: 5px solid red;
	cursor: pointer;
	color:rgba(255,0,58,1);
	padding-bottom: 25px;
}

.menu li img{
	padding-right: 10px;
}

.menu-link {
	color: #fff;
	text-decoration: none;
}

.live-wins-item-align {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.live-wins-img {
	background: #0d0f5b;
}

.live-wins-border {
	border: 3px solid yellow;
	border-radius: 50%;
	width: 85px;
	height: 85px;
}

.rarity-border-wrapper {
	padding: 3px;
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
}

.rarity-border-wrapper-rare{
	background: linear-gradient(to bottom, #00ffff, #0000ff);
}

.rarity-border-wrapper-legendary{
	background: linear-gradient(to bottom, #fe4b30, #fd1b4e);
}

.rarity-border-wrapper-artifact{
	background: linear-gradient(to bottom, #0fd850, #f9f047);
}

.rarity {
	background: #0d0f5b;
	padding: 0px;
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

.rarity img {
	
}

.live-wins-border-img {
	padding: 20px;
	height: 100%;
	width: 100%;
	
}

.center-img {
	text-align: center;
}

/*main content items*/
.top-content-menu {
	height: 180px;
	border-bottom: 3px solid #009ce0;
	margin-left: -15px; 
	margin-right: -15px;
}

.items-content {
	width: 80%;
}

.items-content a:hover {
	text-decoration: none;
}


.item {
	background: rgb(13, 21, 39, .55);
	border-radius: 10px;
	height: 350px;
	width: 250px;
}

.item span {
	font-size: 1rem;	
	font-weight: 500;
}

.item button {
	cursor: pointer;
	box-shadow: 0 0 15px 6px rgba(255, 255, 255, .15), inset 0 0 80px 30px rgba(255, 255, 255, .15);
	font-weight: 700;
	color: #0d0f1f!important;
	background: #fff;
	padding: 5px 0;
	border-radius: 100px;
	border: none;
	width: 50%; 
}
/*Super anim*/

.open-overlay {
	position: absolute;
	z-index: 9999;
	 top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/boxes/open-box.png) 50% 20% no-repeat rgba(93,87,37, .95);
    border-radius: 10px;
    border: 3px solid #fdde16;
    display:none;
   	transition: background .5s ease-out; 
}
.open-overlay-wrapper {
	
}
.open-overlay-wrapper span{
	position: absolute;
	top:150px;
	left:90px;

}
.open-overlay-wrapper button{
	position: absolute;
	top:200px;
	left: 50px;
	width: 150px;
}

.item:hover .open-overlay {
	display: block;
}

/*end anim*/

.item-img-align {
	top: 0;
	right: 0;
}

.card {
	background-color: rgba(0, 0, 0, .55);
}

.card h5 {
	font-size: 16px
}

.card p {
	font-size: 14px
}

.card img {
	width: 115px;
}

.about-features {
	margin-top: 150px;
}

.about-features-sec-block {
	margin-bottom: 200px;
}

.footer {
	background-color: #0e1022;
	color: #fff;
}