*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	background: url(../images/backgr.jpg) no-repeat center center;
	background-size: cover;
}
.border-line {
	border-bottom: 3px solid #009ce0;
}
header {
	background-color: #071726;
}
header button.close {
	background: linear-gradient(135deg, rgba(255,0,58,1) 1%,rgba(255,0,0,1) 100%);
	font-size: 40px;
	opacity: 1;
	height: 65px;
	width: 65px;
}
header .sing-up {
	background: linear-gradient(135deg, rgba(255,0,58,1) 1%,rgba(255,0,0,1) 100%);
	border-radius: 20px;
	box-shadow: 0 0 50px rgba(255, 255, 255, .5);
}
header .sing-up__text {
	border-radius: 20px;
	box-shadow: 0 0 30px 20px rgba(255, 255, 255, .2), inset 0 0 80px 30px rgba(255, 255, 255, .2);
}
header .create-box {
	color: #fff;
    position:relative;
}
header .create-box:hover {
	color: #de0336;
}
header .create-box:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform:translateX(-50%);
    margin-top: 15px;
}
header .create-box:hover:after,
header .create-box:focus:after {
    width: 100%;
}

.live-wins {
	text-align: center;
}
header .navbar .nav-link {
	color: #fff;
	padding-top: 15px;
	padding-bottom: 0;
}
header .navbar .nav-link:hover {
	color: #de0336;
}
header .navbar .nav-link:after {
	display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #de0336;
    transition: width .3s ease-in-out;
    margin-top: 10px;
}
header .navbar .nav-link:hover:after,
header .navbar .nav-link:focus:after {
    width: 100%;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	z-index: 100;
}
.menu {
	width: 45%;
	margin-left: -100px;
}
.menu ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}
.menu li {
	height: 87px;
	padding-top: 35px;
	text-transform: uppercase;
}
.menu li:hover {
	border-bottom: 5px solid red;
	cursor: pointer;
	color:rgba(255,0,58,1);
	padding-bottom: 25px;
}

.menu li img{
	padding-right: 10px;
}
.menu-link {
	color: #fff;
	text-decoration: none;
}

.live-wins-item-align {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.live-wins-img {
	background: #0d0f5b;
}

.live-wins-border {
	border: 3px solid yellow;
	border-radius: 50%;
	width: 85px;
	height: 85px;
}
.rarity-border-wrapper {
	padding: 3px;
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
}

.rarity-border-wrapper-rare{
	background: linear-gradient(to bottom, #00ffff, #0000ff);
}
.rarity-border-wrapper-legendary{
	background: linear-gradient(to bottom, #fe4b30, #fd1b4e);
}
.rarity-border-wrapper-artifact{
	background: linear-gradient(to bottom, #0fd850, #f9f047);
}

.rarity {
	background: #0d0f5b;
	padding: 0px;
	border-radius: 50%;
	height: 100%;
	width: 100%;
}
.rarity img {
	
}
.live-wins-border-img {
	padding: 20px;
	height: 100%;
	width: 100%;
	
}
.center-img {
	text-align: center;
}
.card {
	background-color: #0d0f5b;
}
.card h5 {
	font-size: 16px
}
.card p {
	font-size: 14px
}
.card img {
	width: 115px;
}

.footer {
	background-color: #0e1022;
	color: #fff;
}