*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	background: url(../images/backgr.jpg) no-repeat center center;
	background-size: cover;
}
.border-line {
	border-bottom: 3px solid #009ce0;
}
header {
	background-color: #071726;
}
header button.close {
	background: linear-gradient(135deg, rgba(255,0,58,1) 1%,rgba(255,0,0,1) 100%);
	font-size: 40px;
	opacity: 1;
	height: 65px;
	width: 65px;
}
header .sing-up {
	background: linear-gradient(135deg, rgba(255,0,58,1) 1%,rgba(255,0,0,1) 100%);
	border-radius: 20px;
	box-shadow: 0 0 50px rgba(255, 255, 255, .5);
}
header .sing-up__text {
	border-radius: 20px;
	box-shadow: 0 0 30px 20px rgba(255, 255, 255, .2), inset 0 0 80px 30px rgba(255, 255, 255, .2);
}
header .create-box {
	color: #fff;
    position:relative;
}
header .create-box:hover {
	color: #de0336;
}
header .create-box:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform:translateX(-50%);
    margin-top: 15px;
}
header .create-box:hover:after,
header .create-box:focus:after {
    width: 100%;
}
header .navbar .nav-link {
	color: #fff;
	padding-top: 15px;
	padding-bottom: 0;
}
header .navbar .nav-link:hover {
	color: #de0336;
}
header .navbar .nav-link:after {
	display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #de0336;
    transition: width .3s ease-in-out;
    margin-top: 10px;
}
header .navbar .nav-link:hover:after,
header .navbar .nav-link:focus:after {
    width: 100%;
}
/*.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	z-index: 100;
}
.menu {
	width: 45%;
	margin-left: -100px;
}
.menu ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}
.menu li {
	height: 87px;
	padding-top: 35px;
	text-transform: uppercase;
}
.menu li:hover {
	border-bottom: 5px solid red;
	cursor: pointer;
	color:rgba(255,0,58,1);
	padding-bottom: 25px;
}

.menu li img{
	padding-right: 10px;
}
.menu-link {
	color: #fff;
	text-decoration: none;
}

.header-logo {
	padding-left: 100px;
}

.header-right {
	border: 1px solid black;
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 40px;
}
.header-right img {
	padding-right: 20px;
}
.header-right a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;

}
.text-btn {
	font-size: 1rem;
	margin-top: -10px;
}

.sing-up {
	height: 50px;
	font-size: 1rem;
	color: #fff;
	font-weight: 700;
	width: 180px;
	border: none;
	border-radius: 100px;
	background: linear-gradient(135deg, rgba(255,0,58,1) 1%,rgba(255,0,58,1) 1%,rgba(255,0,0,1) 100%);
}*/
/*.main {
	display: flex;
	flex-direction: row;
	
}
.section1 {
	height: 500px;
	border: 2px solid black;
}
.section2 {
	height: 400px;
	padding-left:25%;
	padding-right: auto;
	border: 1px solid red;
	width: 100%;
	//display: flex;
	//flex-direction: row;
}

.live-wins-img {
	background-image: url(../images/live_wins.jpg); 
	width: 243px;
	height: 193px;
		
}
.second-menu {
	display: flex;
	flex-direction: column;
	width: 50%;
	border: 3px solid silver;
}
.second-menu-top {
	color: #fff;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

.second-menu-bottom {
	color: #fff;
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.second-menu-top a, .second-menu-bottom  a{
	color: #fff;
	text-decoration: none;
}*/
/*footer*/

.footer {
	height: 310px;
	background-color: #0e1022;
	color: #fff;
}